<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>QUIZ</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body class="homepage">
        <div>
            <div class="topbar-container"> 
                <div class="topbar-left">
                    <span class="logo">QUIZZER</span>
                </div>
                <div class="topbar-centre">
                    <div class="searchbar">
                    <form action="/homepage" method="post">
                    <div class="search-container">
                        <input type="text" placeholder="Search for other users to attend their quizzes!" class="searchinput" name="searched">
                        <button type="submit" class="btn">Search</button>
                    </div>
                    </form>
                    </div>
                </div>
                <div class="topbar-right">
                    <div class="topbar-links">
                        <a class="topbarlink" type="button" href="/logout">Logout</a>
                        <a class="topbarlink link1" type="button" href="/About">About</a>
                        <a class="topbarlink" type="button" href="/friends">👨‍💻</a>
                        <a class="topbarlink" type="button" href="/requests">💌</a>
                        <a class="topbarlink type="button" href="/your-friends">🖤</a>
                    </div>
                    <!-- <div>
                        <img class="topbarimg" src="" alt="pfp">
                    </div> -->
                </div>
                
            </div>
            <br>
            <br>
            <div>
                <h1>Welcome Back , <%= locals.Myname %> 😉..............Need some QUIZ to ponder!!</h1>
            </div>
            <div class="content-container">
                <div class="create">
                    <h1>CREATE YOUR OWN QUIZ</h1>
                    <!-- <form action="/createquiz" method="POST"> -->
                        <!-- <label>CREATE</label> -->
                        <a href="/createQuiz" class="create-btn" role="button">create</a>
                     <!-- </form> -->
                </div>    
                <div class="challenge">
                    <h1>ATTEMPT QUIZ</h1>
                    <a  href="/otherquiz" class="attempt" role="button">Attemp</a>
                </div> 
                <div class="created">
                    <h1 class="style">QUIZZES CREATED BY YOU</h1>
                   <% if(locals.Quizzz){%>
                    <%  Quizzz.forEach(item => { %>
                        <ul>
                            <li>
                               <h2 class="kedi"> <%=item %> </h2>
                            </li>
                        </ul>
                        
                    <%  })}else{%>
                        <h2>No Quizzes created</h2>
                    <% } %>
                </div>  
                
            </div>
            <div class="attempt-quiz">
                    <h1 class="attempt-header">QUIZZES ATTEMPTED BY YOU</h1>
                
                    <h2 class="attempt-header-2"><span>click on <a href="/attemptedquiz" class="attempt-btn5">'GO'</a> to view </span></span></span></h2>
                
                
                    
                 
            </div> 
            <div class="content-down">
                <h1>CONTEXT</h1>
                <h2>👨‍💻- To see all user and to Send friendcd "REQUESTS"</h2>
                <h2>💌- To see the Reqsuests from your friends and accept</h2>
                <h2>🖤- To see your friends list</h2>
            </div>
        </div>

       
        
        <script src="" async defer></script>
    </body>
</html>
