<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>

        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body class="otherquiz-body">
        <h1 class="other-head">Quizes from any User</h1>
<form action="/otherquiz" method="POST">
    <div class="other-cont">
        <label class="other-text">Search for the name</label>
         <input type="text" name="searchbar">
        <label class="other-text">Name of the quiz</label>
        <input type="text" name="nameofquiz">
    </div>
    
    <br>
    <br>
    <div><button class="btn" type="submit">Search</button></div>
    
</form>
       
        <script src="" async defer></script>
    </body>
</html>
