<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    </head>
    <body class="score-body">
        <hr>
        <h1 class="score-b">SCORE</h1>
        <hr>
        <h2 class="score-b1"><%= SCORE %></h2>
        <form action="/score" method="post">
            <button type="submit" class="btn">HOME</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>
